.container {
}
.wrapper {
  display: flex;
  justify-content: space-around;
}

.block {
  display: flex;
  flex-direction: column;
}
.block span {
  color: #272727;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.copyright {
  color: #7d7d7d;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1rem;
  text-align: center;
  margin: 2rem 0rem;
}
