.wrapper{
	  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
button{
	width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #00bcd4;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
form{
	width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
input{
	width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 10px;
  
}
input::placeholder{
	color: #000;
}
.error{
	color: red;
	font-size: 12px;
  padding-top: 10px;
}